stages:
- test
- name: deploy
  if: tag IS present AND fork = false
language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
script:
- python setup.py -q install

jobs:
  include:
  - stage: deploy
    python: '3.6'
    script: skip
    deploy:
      stage: deploy
      provider: pypi
      on:
        tags: true
      distributions: sdist bdist_wheel
      user: "__token__"
      password:
        secure: fMz+t/X6UYCziwYYxzeClioDmno46HeMzQQQOI11CeFDfCnaTJoGPdkUhbCpZlEdzgOFxuS3uqM69yLHvuKDaQKy2RwKjtKfmj/AeJ09twhMq6EeZki97iMiEtUWOzR8YqNNyjCHgjkJ36/dJgE8C5fsjJC2+twZHjmhwVRfSx7N/eJG/K4Ps7fDO0Xq2Jdf9xm7WTvc7LND4aVULoDFWgGQEaZPa15qiPm7cOBtQZHapvxcn85teJAHXNh71IYIHJsnwSvfveC0OE1i09tfUzqLxsrFlNdlIT0r8B96xZIS8zQO8UUOTAZK6ahk26LIKS+ML2jTx1b1FzEVU7VJEtWCWPjoq3PR/U9v3tBwI0Y/RwOIylHVulvNzrznE7r1Xe/qVrk5xlp9crMf0Cds90kkSCda4KvZL89VdWJJTOVT1n5VxHPo8haO3N921GCH8hsnYL12KTNA+DqjGQ7DE5irQDM6qnMT0uIgdDLfMRDfpWqKNhLxjQNfJke9zwFnAwODyalh4zklbCzXl2r0wZmj0Hy+F1y8nIb4i0UYkqn0+Ywai3MBQoolHIPXdn+EuEVqwa9r2u0jj7csQggPS35GJqO8diw34W0QZjrFPVUlrTvBSN+KKeI+6Hcpu3Umg+NfgHZkQ1QPNMC6rU/8eFAvsrwD33RZpwYf/79YHRo=